* {
    font-family: Xolonium, Arial, Helvetica, sans-serif !important;
    font-size: medium;
}

QLineEdit:disabled {
    border-color: transparent;
    color: #FFFFFF;
}

ColoredLabel { 
    padding: 5px;
}

ColoredButton {
    min-width: 23px;
    max-width: 23px;
    min-height: 20px;
    max-height: 20px;
}

QTableWidget ColoredButton {
    margin: 2px;
}

QToolTip { 
    color: #ffffff !important; 
    background-color: #333333 !important;
    padding: 2px !important;
    border: 0 !important; 
    opacity: 222;
}

QStackedWidget {
    background-color: transparent !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.center, .heatmap ColoredLabel {
    qproperty-alignment: AlignCenter;
}

.right {
    qproperty-alignment: AlignRight;
}

.heatmap ColoredLabel {
    color: black;
}

.xolonium {
    font-family: Xolonium !important;
}

.no-border {
    border: 0 !important;
}

QTabBar::tab {
    width: 180px;
    height: 25px;
}

Tab QToolButton {
    width: 150px;
    height: 100px;
    padding-top: 30px;
    border-width: 2px;
    border-style: solid;
    margin: 3px;
}


QTabBar QToolButton {
    margin: 3px 0;
}

.appName {
    font-size: 40px;
}