* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

ColoredLabel { 
    padding: 5px;
}

ColoredButton {
    min-width: 150px;
}

QTableWidget ColoredButton {
    margin: 2px;
}

#status {
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
}

#status[background], ColoredButton[background] {
    border-style: solid;
    border-width: 1px;
}

.center, .heatmap ColoredLabel {
    qproperty-alignment: AlignCenter;
}

.header {
    font-size: 30px;
    font-weight: bold;
}
.subheader {
    margin-bottom: 10px;
}

.heatmap ColoredLabel {
    color: black;
}

.xolonium {
    font-family: Xolonium !important;
}