* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}


/*#############################  TABLE WIDGETS  ##############################*/

#player_table QLabel { 
    padding: 0 3px;
}

#player_table QPushButton {
    margin: 2px;
}

#player_table QPushButton.profile { background-color: #2c4a58 }
#player_table QPushButton.info    { background-color: #5a582c }
#player_table QPushButton.delete  { background-color: #582a2a }


/*#################################  STATUS  #################################*/

#status {
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
}

#status.ready   { background-color: #444444 }
#status.working { background-color: #5a582c }
#status.success { background-color: #345328 }
#status.error   { background-color: #582a2a }