* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

ColoredLabel { 
    padding: 0 3px;
}

ColoredButton {
    padding: 3px 5px;
    min-width: 150px;
}

QTableWidget ColoredButton {
    margin: 2px;
}

QScrollArea QWidget {
    margin: 4px 0;
}

#status {
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
}

#status[background], ColoredButton[background] {
    border-style: solid;
    border-width: 1px;
}

/*#####################################  BACKGROUND COLOR  #####################################*/

[background="grey"]   { background-color: #444444 }
[background="blue"]   { background-color: #2c4a58 }
[background="yellow"] { background-color: #5a582c }
[background="orange"] { background-color: #5a452c }
[background="red"]    { background-color: #582a2a }
[background="green"]  { background-color: #345328 }

[background="light-grey"],   ColoredButton[background="grey"]:hover   { background-color: #636363 }
[background="light-blue"],   ColoredButton[background="blue"]:hover   { background-color: #3a667c }
[background="light-yellow"], ColoredButton[background="yellow"]:hover { background-color: #726e38 }
[background="light-orange"], ColoredButton[background="orange"]:hover { background-color: #775b38 }
[background="light-red"],    ColoredButton[background="red"]:hover    { background-color: #793838 }
[background="light-green"],  ColoredButton[background="green"]:hover  { background-color: #497437 }

[background="dark-grey"],   ColoredButton[background="grey"]:disabled   { background-color: #252525 }
[background="dark-blue"],   ColoredButton[background="blue"]:disabled   { background-color: #1c2f38 }
[background="dark-yellow"], ColoredButton[background="yellow"]:disabled { background-color: #333218 }
[background="dark-orange"], ColoredButton[background="orange"]:disabled { background-color: #3a2c1c }
[background="dark-red"],    ColoredButton[background="red"]:disabled    { background-color: #381b1b }
[background="dark-green"],  ColoredButton[background="green"]:disabled  { background-color: #1f3118 }

/*#####################################  BORDER COLOR  #####################################*/

[background="grey"]   { border-color: #636363 }
[background="blue"]   { border-color: #3a667c }
[background="yellow"] { border-color: #726e38 }
[background="orange"] { border-color: #775b38 }
[background="red"]    { border-color: #793838 }
[background="green"]  { border-color: #497437 }

ColoredButton[background="grey"]:disabled   { border-color: #444444 }
ColoredButton[background="blue"]:disabled   { border-color: #2c4a58 }
ColoredButton[background="yellow"]:disabled { border-color: #5a582c }
ColoredButton[background="orange"]:disabled { border-color: #5a452c }
ColoredButton[background="red"]:disabled    { border-color: #582a2a }
ColoredButton[background="green"]:disabled  { border-color: #345328 }

/*#####################################  TEXT COLOR  #####################################*/

[color="active-1"] { color: #ff6200 }
[color="active-2"] { color: #ff8a46 }
[color="active-3"] { color: #ffac79 }
[color="active-4"] { color: #ffcdaf }
[color="active-5"] { color: #ffffff }
[color="active-6"] { color: #acacac }
[color="active-7"] { color: #595959 }

/*#####################################  TEXT TYPE  #####################################*/

[type="header"] {
    font-size: 30px;
    font-weight: bold;
    qproperty-alignment: AlignCenter;
}
[type="subheader"] {
    margin-bottom: 10px;
    qproperty-alignment: AlignCenter;
}